<a href="https://colab.research.google.com/github/pournimagithub/Pournima/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df=pd.DataFrame({'X':[78,85,96,80,86],'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]})
print(df)

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

In [2]:
import pandas as pd
s=pd.Series([2,4,6,8,10])
print(s)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [11]:
import pandas as pd
series1=pd.Series([1,2,3,4])
print(series1)

0    1
1    2
2    3
3    4
dtype: int64

In [12]:
import pandas as pd
import sys
sys.__stdout__=sys.stdout
series1=pd.Series([1,2,3,4])
print(series1)

0    1
1    2
2    3
3    4
dtype: int64

In [13]:
import pandas as pd
import numpy as np
import sys
sys.__stdout__=sys.stdout
fruits=np.array(['apple','orange','mango','pear'])
series1=pd.Series(fruits)
print(series1)

0     apple
1    orange
2     mango
3      pear
dtype: object

In [14]:
import pandas as pd
df=pd.DataFrame({
    "Column 1":[1,2,3,4,5],
    "Column 2":['a','column','with','a','string'],
    "Column 3":[123,235,456,32.123,89.453],
    "Column 4":[True,False,True,False,True]
})
print(df)

   Column 1 Column 2  Column 3  Column 4
0         1        a   123.000      True
1         2   column   235.000     False
2         3     with   456.000      True
3         4        a    32.123     False
4         5   string    89.453      True

In [15]:
import pandas as pd
mylist=[4,8,12,16,20]
df=pd.DataFrame(mylist)
print(df)

    0
0   4
1   8
2  12
3  16
4  20

In [16]:
import pandas as pd
items=[['Phone',20000],['TV',15000],['Radio',1000]]
df=pd.DataFrame(items,columns=['item','Price'],dtype=float)
print(df)

    item    Price
0  Phone  20000.0
1     TV  15000.0
2  Radio   1000.0

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised
  exec(code_obj, self.user_global_ns, self.user_ns)